.contact-section {
  padding: 20px;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-card {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ddd;
}

.contact-card h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.contact-card p, .contact-card a {
  color: #333;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
  gap:  1rem;
}

.center {
  justify-content: center;
  align-items: baseline;
}