.img {
  max-width: 30%;
  max-height: 100vh;
  margin: auto;
}

.imgbox {
  display: grid;
  height: 20%;
}

.attributes {
  margin-left: 40px;
}

/* Make the image larger on smaller screens */
@media screen and (max-width: 768px) {
  .img {
    max-width: 80%;
    max-height: 80vh;
  }
}

@media screen and (max-width: 480px) {
  .img {
    max-width: 100%;
    max-height: 100vh;
  }
}