.img {
  max-width: 30%;
  max-height: 100vh;
  margin: auto;
}

.imgbox {
  display: grid;
  height: 20%;
}

.attributes {
  margin-left: 40px;
}

.attributes-title {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}