ul.nav {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background-color: white; /* Dominant white */
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Soft separation */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Subtle shadow */
}

ul.nav > li {
  padding: 8px 15px;
  list-style: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

ul.nav > li > a {
  color: $primary-color; /* Subtle blue */
  text-decoration: none;
  font-weight: 400;
}

ul.nav > li:hover {
  background-color: rgba(0, 0, 255, 0.05); /* Very light blue tint */
}

ul.nav > li > a:hover {
  color: darken($primary-color, 10%);
}