---
layout: site
---
<div class="column centre">
  <div class="intro">
    <div class="intro-card">
      <p>
        <strong>PT PERDANA ALUMINIUM INDONESIA</strong> adalah sebuah perusahaan yang bergerak di bidang manufaktur dan
        trading Aluminium di Indonesia. Konsep bisnis kami adalah sebagai <em>Total Solution Business Partner</em> yang
        selalu memprioritaskan kepuasan dan kenyamanan pelanggan.
      </p>
    </div>
  </div>

  <h2>Our values</h2>

  <div class="value-card left">
    <h3 class="value-title">
      <span class="material-icons icon">
        engineering
      </span>
      <span>Kustomisasi Produk Anda</span>
    </h3>
    Membangun produk aluminium Anda sendiri dengan tim professional kami
    <hr class="divider">
  </div>
  <div class="value-card right">
    <h3 class="value-title">
      <span class="material-icons icon">
        verified
      </span>
      <span>Bahan berkualitas baik</span>
    </h3>
    Kami menjamin anda tidak akan kecewa dengan kualitas bahan kami
    <hr class="divider">
  </div>

  <div class="value-card left">
    <h3 class="value-title">
      <span class="material-icons icon">
        verified_user
      </span>
      <span>Durabilitas Produk</span>
    </h3>
    Kami selalu berkomitmen untuk menyediakan Anda dengan produk yang tahan lama
    <hr class="divider">
  </div>
</div>