---
layout: site
---

<div class="contact-section">
  <div class="contact-info">
    <div class="contact-card">
      <div class="row center">
        <span class="material-icons icon">place</span>
        <h2>Location</h2>
      </div>
      <p>{{ page.location }}</p>
    </div>
    <div class="contact-card">
      <div class="row center">
        <span class="material-icons icon">phone</span>
        <h2>Phone</h2>
      </div>
      <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
    </div>
    <div class="contact-card">
      <div class="row center">
        <span class="material-icons icon">email</span>
        <h2>Email</h2>
      </div>
      <a href="mailto:{{ page.email }}">{{ page.email }}</a>
    </div>
  </div>
</div>