---
layout: site
---
<table>
  <tr>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_01.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-tipe-sm-01-ivory-white-jabodetabek?extParam=whid%3D13932691">
            <button type="button" class="button">
              Beli sekarang
            </button>
          </a>
          </td>
        </tr>
      </table>
    </td>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_02.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-tipe-sm02-ivory-white-jabodetabek?extParam=whid%3D13932691">
            <button type="button" class="button">
              Beli sekarang
            </button>
          </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_02_pu.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="tel:+62 21 5971 8798">
            <button type="button" class="button">
            Hubungi Kami
          </button>
        </a>
        </td>
        </tr>
      </table>
    </td>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_03.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-tipe-sm03-ivory-white-jabotabek?extParam=whid%3D13932691">
            <button type="button" class="button">
              Beli sekarang
            </button>
          </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_04.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-type-sm04-ivory-white-jabotabek?extParam=whid%3D13932691">
            <button type="button" class="button">
              Beli sekarang
            </button>
          </a>
        </td>
        </tr>
      </table>
    </td>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_05.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="tel:+62 21 5971 8798">
            <button type="button" class="button">
              Hubungi Kami
            </button>
          </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_06.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-type-sm06-ivory-white-jabotabek?extParam=whid%3D13932691">
            <button type="button" class="button">
              Beli sekarang
            </button>
          </a>
        </td>
        </tr>
      </table>
    </td>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_07.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-type-sm07-jabotabek?extParam=whid%3D13932691">
            <button type="button" class="button">
              Beli sekarang
            </button>
          </a>
        </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_08.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-type-sm08-jadetabek?extParam=whid%3D13932691">
              <button type="button" class="button">
                Beli sekarang
              </button>
          </a>
        </td>
        </tr>
      </table>
    </td>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_pl_09.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-type-sm09-jadetabek?extParam=whid%3D13932691">
              <button type="button" class="button">
                Beli sekarang
              </button>
          </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_bd_01.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td>
            <a href="https://www.tokopedia.com/perdana-aluminium/pintu-smart-01-bifold-ivory-white-jabotabek?extParam=whid%3D13932691">
              <button type="button" class="button">
                Beli sekarang
              </button>
            </a>
        </td>
        </tr>
      </table>
    </td>
    <td class="home_imgbox">
      <table class="table_per_door_img" style="height:100%;">
        <tr style=>
          <td colspan="2" style="height: 600px;"><img class="home_img" src="/assets/images/pintu_bd_02.jpg"></td>
        </tr>
        <tr style="height:60px;">
          <td><a href="https://www.tokopedia.com/perdana-aluminium/pintu-smart02-bifold-ivory-white-jabotabek?extParam=whid%3D13932691"><button type="button" class="button">Beli sekarang</button></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- {{content}} -->