---
layout: site
---
<table>
  <tr>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_01.jpg">
    </td>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_02.jpg">
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_02_pu.jpg">
    </td>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_03.jpg">
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_04.jpg">
    </td>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_05.jpg">
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_06.jpg">
    </td>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_07.jpg">
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_08.jpg">
    </td>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_pl_09.jpg">
    </td>
  </tr>
  <tr>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_bd_01.jpg">
    </td>
    <td class="home_imgbox">
      <img class="home_img" src="/assets/images/pintu_bd_02.jpg">
    </td>
  </tr>
</table>
<!-- {{content}} -->