---
layout: site
---


<ul class="product-list">
  <li class="column centre defaultgap product-box">
    <a class="product-link" href="{{site.url}}/products/karoseri">
      <img class="product-img" src="/assets/images/karoseri.png">
    </a>
    <div class="product-text">Karoseri</div>
  </li>
  <li class="column centre defaultgap product-box">
    <a class="product-link" href="{{site.url}}/products/sheet-dan-coil">
      <img class="product-img" src="/assets/images/aluminiumandcoil.png">
    </a>
    <div class="product-text">Aluminium Sheet and Coil</div>
  </li>
  <li class="column centre defaultgap product-box">
    <a class="product-link" href="{{site.url}}/products/aluminium-ekstrusi">
      <img class="product-img" src="/assets/images/ekstrusi.png">
    </a>
    <div class="product-text">Ekstrusi</div>
  </li>
  <li class="column centre defaultgap product-box">
    <a class="product-link" href="{{site.url}}/products/pintu-dan-jendela">
      <img class="product-img" src="/assets/images/pintujendela.png">
    </a>
    <div class="product-text">Pintu dan Jendela</div>
  </li>
</ul>