---
---
<html>

<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="description"
    content="PT PERDANA ALUMINIUM INDONESIA adalah sebuah perusahaan yang bergerak di bidang manufaktur dan trading Aluminium di Indonesia. Konsep bisnis kami adalah sebagai Total Solution Business Partner yang selalu memprioritaskan kepuasan dan kenyamanan pelangan">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="Aluminium, Pintu, Perdana">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/favicon/site.webmanifest">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel=" stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>
  {% include header.html %}
  {% include navbar.html %}
  {{content}}
  {% include footer.html %}
</body>

</html>